@media (max-width: 1108px) {
	.price-btn {
		left: 16%;
	}
}

@media (max-width: 1067px) {
	.price-btn {
		left: 13%;
	}
}

@media (max-width: 967px) {
	.price-btn {
		left: 9%;
	}
}

@media (max-width: 930px) {
	.price-btn {
		width: 210px;
		height: 50px;
		bottom: 30px;
	}
	.center-side__list1{
		margin-right: 60px;
	}
}

@media (max-width: 780px) {
	.center-side__list1{
		margin-right: 40px;
	}
	.header__burger {
		display: block;
	}

	.header__sign-up {
		font-size: calc(11px + (7 + 7 * 0.7) * ((100vw - 320px) / 1170));
		padding: 14px 40px;
	}

	.header__link {
		font-size: 14px;
	}

	.logo__img {
		width: 53px;
		height: auto;
	}

	.card__top-text {
		font-size: 19px;
		margin-bottom: 10px;
	}

	.card__center-text {
		font-size: 15px;
		margin-bottom: 10px;
	}



	.portfolio-img {
		width: 340px;
		max-width: 100%;
		height: auto;
	}

	.catalog__left-side {
		margin-right: 25px;
	}

	.portfolio__card:not(:last-child) {
		margin-bottom: 40px;
	}

	.portfolio__text {
		font-size: 20px;
		margin-right: 55px;
	}

	.portfolio__link {
		font-size: 14px;
	}

	.item__descr {
		font-size: 12px;
		line-height: 20px;
	}

	.slider .slick-arrow.slick-next {
		right: 45%;
	}

	.slider .slick-arrow.slick-prev {
		left: 45%;
	}

	.price-btn {
		width: 173px;
		padding: 0 10px;
		height: 43px;
		background-color: #fff;
		color: #514040;
		transition: all .5s;
		bottom: 46px;
		left: 25%;
	}

	.price__text {
		padding-top: 25px;
		text-align: center;
		font-size: 24px;
		line-height: 15px;
		color: #313131;
		margin-bottom: 14px;
	}

	.price__value {
		text-align: center;
		font-size: 49px;
		line-height: 40px;
		margin-bottom: 19px;
	}

	.price__list {
		padding-left: 23px;
	}

	.price__card:not(:last-child) {
		margin-right: 16px;
	}

	.price__item-text {
		padding-left: 22px;
		font-size: 13px;
	}

	.price__card {
		height: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 12px;
	}

	.price__catalog {
		align-items: center;
		flex-direction: column;
	}
}





@media (max-width: 710px) {
	.header__burger {
		position: relative;
		top: 0;
		left: 0;
	}

	.burger__span {
		position: absolute;
		background-color: #000;
		width: 20px;
		height: 2px;
		top: 0;
		right: 15px;
	}

	.burger__span::before {
		content: '';
		position: absolute;
		top: 7px;
		right: 0px;
		background-color: #000;
		width: 20px;
		height: 2px;
	}

	.burger__span::after {
		content: '';
		position: absolute;
		bottom: 7px;
		left: 0px;
		background-color: #000;
		width: 20px;
		height: 2px;
	}

	.header__nav {
		display: none;
	}

	.header__logo {
		margin-right: 260px;
	}

	.header__inner {
		justify-content: space-between;
	}

	.logo__img {
		width: 90px;
	}
}

@media (max-width: 685px) {
	.slider .slick-arrow.slick-next{
			right: 43%;
	}
	.slider .slick-arrow.slick-prev{
		left: 43%;
	}
	.video{
		font-size: 12px;
	}
	.header__logo{
		margin-right: 0;
	}
	.header__sign-up{
		padding: 10px 30px;
	}
	.text-title{
		font-size: 35px;
	}
	.item__text {
		font-size: 11px;
		line-height: 0;
	}

	.item__descr {
		font-size: 8px;
		line-height: 14px;
	}

	.item__img {
		height: 12px;
	}

	.left-side__text {
		font-size: 14px;
		margin-bottom: 40px;
	}

	.center-side__text {
		font-size: 15px;
		line-height: 9px;
	}

	.center-side__item:not(:last-child) {
		margin-bottom: 15px;
	}

	.center-side__link {
		font-size: 12px;
	}

	.right-side__text {
		font-size: 20px;
		margin-bottom: 30px;
	}

	.right-side__button {
		flex-direction: row;
		font-size: 13px;
		width: 150px;
	}

	.button-arrow {
		margin-left: 40px;
	}
	.catalog__card{
		height: 200px;
	}
	.card__center-text{
		font-size: 10px;
	}
	.skill__catalog{
		gap: 20px;
	}
	.card__top-image{
		width: 15px;
		height: auto;
	}
	.card__top-text{
		font-size: 13px;
		margin-bottom: 7px;
	}
}



@media (max-width: 479px) {
	button{
		width: 80px;
	}
	.hero__title{
		font-size: 30px;
		line-height: 35px;
	}
	.header__sign-in{
		font-size: 12px;
		margin-right: 20px;
	}
	.header__sign-up{
		padding: 8px 25px;
		font-size: 10px;
	}
	.text-title{
		font-size: 30px;
	}
	.catalog__card {
		height: 150px;
		padding: 15px 20px;
	}
	.card__center-text{
		font-size: 8px;
	}
	.card__top-text{
		font-size: 11px;
	}
	.slider__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.logo {
		width: 92px;
		height: auto;
	}

	.left-side__text {
		font-size: 20px;
		margin-bottom: 40px;
	}
	.footer__block{
		margin-bottom: 20px;
	}
	.center-side__text {
		font-size: 19px;
		line-height: 9px;
	}

	.center-side__item:not(:last-child) {
		margin-bottom: 15px;
	}

	.center-side__link {
		font-size: 14px;
	}

	.right-side__text {
		text-align: center;
		font-size: 18px;
		margin-bottom: 27px;
	}

	.right-side__button {
		align-items: center;
		flex-direction: row;
		font-size: 11px;
		width: 200px;
	}

	.button-arrow {
		margin-left: auto;
		padding-right: 5px;
	}
	.footer__center{
		flex-direction: column;
		align-items: center;
	}
	.footer__left-side{
		text-align: center;
		margin-bottom: 15px;
	}
	.left-side__socials{
		justify-content: space-around;
	}
	
}

@media (max-width: 479px){
	.logo__img{
		width: 60px;
	}
	.header__sign-up{
		padding: 6px 23px;
	}
	.header__sign-in{
		font-size: 10px;
		margin-right: 15px;
	}
}

@media (max-width: 321px){
	.text-title{
		font-size: 20px;
	}
	.footer__center{
		display: flex;
		flex-direction: column;
	}
}